DATABASE_URL=
DATABASE_NAME=messenger

JWT_SECRET=e8c20da656985561dbd1ede9aa567a6e3bc1ca098f2cc1d7a39c2e3e00be7cbb
JWT_ALGORITHM=HS256

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=Messenger - Fast and Secure
MAIL_PORT=465
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=false
MAIL_SSL_TLS=true
MAIL_USE_CREDENTIALS=true
MAIL_VALIDATE_CERTS=true
