{% extends "base/index.html" %}

{% block content %}
    <span>
        Hello, <b>{{ username }}</b>.
    </span>

    <span style="display: block; margin-top: 20px;">We are writing to you with an important message regarding the security of your account. Due to the increased risk, we recommend that you change your account password.</span>

    <div style="width: fit-content; padding: 10px; font-size: 18px; border-radius: 5px; background-color: #CBD8F2; margin-top: 30px">
        <span>Reset password link: <a href="{{ url }}">Click to reset</a></span>
    </div>

    <div style="margin-top: 30px">
        <span>Thank you for your attention and cooperation in keeping your account secure. We work hard to ensure that your experience of using our platform is as safe and enjoyable as possible.</span>

        <div style="margin-top: 20px">
            <span>Best regards,</span>
            <span style="display: block"><b>Fly Messenger</b> Team</span>
        </div>
    </div>
{% endblock content %}